/* Global Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
    color: #222;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

a {
    color: #08f;
    text-decoration: none;
}

a:hover {
    color: #999;
    text-decoration: underline;
}

/* Canvas Wrapper - Main Container */
#canvasWrapper {
    position: relative;
}

#canvas {
    width: 100%;
    padding: 0;
    min-width: 900px;
}

/* Mobile Navigation */
#mobileNav {
    display: none;
}

#mobileNav .wrapper {
    padding: 0 20px;
}

#topNavMobile {
    display: none;
}

#mobileMenuLink {
    cursor: pointer;
}

#mobileMenuLink a {
    color: #222;
}

.mobile-nav {
    font-size: 16px;
}

.mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-nav li {
    padding: 0;
}

.mobile-nav a {
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    letter-spacing: 0em;
    line-height: 1.6em;
    font-size: 16px;
    display: block;
    padding: 0.6em 0;
    color: #1f1f1f;
    text-decoration: none;
}

.mobile-nav a:hover {
    color: #999;
}

.mobile-nav .active-link a {
    color: #a3a3a3;
}

/* Sidebar Layout - Fixed Left Sidebar - v2 alignment fix */
.sidebar-position-left #headerWrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 360px;
    height: 100%;
    z-index: 1000;
    padding: 50px 30px;
    overflow-y: auto;
    background-color: #fff;
}

.sidebar-position-left #pageWrapper {
    margin-left: 360px;
    padding: 50px 50px 50px 50px;
    position: relative;
    min-height: 100vh;
}

/* Align first content with sidebar - remove top padding from first HR block */
.sidebar-position-left #pageWrapper > #page > .main-content > .sqs-layout > .row.sqs-row:first-child > .sqs-col-12 > .sqs-block-horizontalrule:first-child {
    padding-top: 0;
    margin-top: 0;
}

/* Vertical container for text section */
.text-container-vertical {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    min-height: calc(100vh - 100px);
}

/* Header Wrapper */
#headerWrapper {
    position: relative;
    z-index: 999;
}

#header {
    text-align: left;
    border-bottom: none;
    padding: 0;
}

#logo {
    margin-bottom: 40px;
}

.logo.site-title {
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 27px;
    font-weight: 700;
    letter-spacing: 0.01em;
    text-transform: none;
    line-height: 1.2em;
    margin: 0;
}

.logo.site-title a {
    color: #222;
    text-decoration: none;
}

.logo.site-title a:hover {
    color: #222;
    text-decoration: none;
}

/* Navigation - Vertical Sidebar */
#topNav {
    margin-bottom: 0;
}

#secondaryNavigation {
    display: none;
}

.desktop-nav.main-nav {
    font-size: 16px;
    overflow: visible;
    text-align: left;
}

.desktop-nav.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

.desktop-nav.main-nav li {
    display: block;
    margin-right: 0;
    margin-bottom: 0;
}

.desktop-nav.main-nav a {
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    letter-spacing: 0em;
    line-height: 1.6em;
    font-size: 16px;
    display: block;
    padding: 0.4em 0;
    color: #1f1f1f;
    text-decoration: none;
}

.desktop-nav.main-nav a:hover {
    color: #999;
}

.desktop-nav.main-nav .active-link a {
    color: #a3a3a3;
}

/* Page Wrapper - Content Area */
#pageWrapper {
    padding: 0 50px 50px 50px;
    position: relative;
}

#page {
    width: 100%;
    position: relative;
    max-width: 1200px;
}

.main-content {
    width: 100%;
}

/* Squarespace Layout Grid System */
.sqs-layout {
    width: 100%;
}

.sqs-layout.sqs-grid-12 {
    width: 100%;
}

.row.sqs-row {
    width: auto !important;
    margin-left: -17px;
    margin-right: -17px;
}

.row.sqs-row:before,
.row.sqs-row:after {
    content: "";
    display: table;
}

.row.sqs-row:after {
    clear: both;
}

/* Column System */
[class*=sqs-col] {
    float: left;
    position: relative;
}

[class*=sqs-col] > .sqs-block {
    padding-left: 17px;
    padding-right: 17px;
}

.sqs-col-12 {
    width: 100%;
}

.sqs-col-6 {
    width: 50%;
}

.sqs-col-0 {
    width: 0%;
    display: none;
}

/* Blocks */
.sqs-block {
    position: relative;
    clear: both;
}

/* Horizontal Rule Block */
.sqs-block.horizontalrule-block,
.sqs-block-horizontalrule {
    padding-top: 17px;
    padding-bottom: 17px;
}

.horizontalrule-block hr,
.sqs-block-horizontalrule hr {
    border: 0;
    border-top: 1px solid #222;
    margin: 0;
    height: 0;
    background: transparent;
}

/* HTML Block - Text Content */
.html-block,
.sqs-block-html {
    clear: none;
}

.sqs-block-content {
    word-wrap: break-word;
}

.sqs-html-content {
    outline: none;
}

.sqs-html-content p {
    margin: 1em 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
    color: #222;
}

.sqs-html-content p:first-child {
    margin-top: 0;
}

.sqs-html-content p:last-child {
    margin-bottom: 0;
}

.sqs-html-content em {
    font-style: italic;
}

.sqs-html-content strong {
    font-weight: bold;
}

.sqs-html-content a {
    color: #08f;
    text-decoration: underline;
}

.sqs-html-content a:hover {
    color: #999;
}

.sqs-html-content br {
    line-height: inherit;
}

/* Heading Styles */
.sqs-html-content h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6em;
    color: #222;
    margin: 1em 0;
    text-transform: none;
    letter-spacing: 0em;
}

.sqs-html-content h2:first-child {
    margin-top: 0;
}

.sqs-html-content h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6em;
    color: #222;
    margin: 1em 0;
    text-transform: none;
    letter-spacing: 0em;
}

.sqs-html-content ul {
    list-style: disc;
    margin: 1em 0;
    padding-left: 2em;
}

.sqs-html-content ul ul {
    margin: 0.5em 0;
}

.sqs-html-content li {
    margin: 0.5em 0;
}

/* Image Block */
.image-block,
.sqs-block-image {
    clear: none;
}

.image-block-outer-wrapper {
    width: 100%;
    position: relative;
}

.sqs-block-image-figure {
    margin: 0;
    display: block;
    position: relative;
}

.sqs-block-image-figure.intrinsic {
    max-width: 100%;
}

.image-block-wrapper {
    position: relative;
    width: 100%;
}

.sqs-image-shape-container-element {
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    mask-image: radial-gradient(white, black);
}

.sqs-image-shape-container-element.has-aspect-ratio {
    height: 0;
    padding-bottom: 115.29411764705881%;
}

.sqs-image-shape-container-element img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Nested Row Adjustments */
.sqs-col-12 > .row.sqs-row {
    margin-left: 0;
    margin-right: 0;
}

.sqs-col-12 > .row.sqs-row > [class*=sqs-col]:first-child > .sqs-block {
    padding-left: 0;
}

.sqs-col-12 > .row.sqs-row > [class*=sqs-col]:last-child > .sqs-block {
    padding-right: 0;
}

/* Responsive Design */
@media screen and (max-width: 767px) {
    #canvas {
        min-width: 0;
        padding: 0;
    }

    .sidebar-position-left #headerWrapper {
        position: static;
        width: 100%;
        height: auto;
        padding: 20px 20px 0 20px;
    }

    .sidebar-position-left #pageWrapper {
        margin-left: 0;
        padding: 0 20px 30px 20px;
    }

    #header {
        text-align: center;
        border-bottom: 1px solid #222;
        padding: 0 0 15px 0;
    }

    #logo {
        margin-bottom: 15px;
    }

    #mobileNav {
        display: block;
        border-bottom: 1px solid #222;
        margin: 0 -20px;
    }

    #topNav {
        display: none;
    }

    #topNavMobile {
        display: block;
        text-align: center;
        padding: 10px 0;
    }

    .mobile-nav li {
        display: block;
        padding: 0;
        border-bottom: 1px solid #eee;
    }

    .mobile-nav li:last-child {
        border-bottom: none;
    }

    .logo.site-title {
        font-size: 24px;
    }

    .sqs-col-6 {
        width: 100%;
        float: none;
    }

    .sqs-col-6 > .sqs-block {
        padding-left: 0;
        padding-right: 0;
    }

    .sqs-image-shape-container-element.has-aspect-ratio {
        padding-bottom: 100%;
    }
    
    .row.sqs-row {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width: 768px) {
    .mobile-nav {
        display: none !important;
    }

    #mobileNav {
        display: none !important;
    }

    #topNavMobile {
        display: none !important;
    }
}
